body {
    color: #202020;
    font-family: "Bebas Neue", sans-serif;
}
.header-nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #202020;
    color: #f1f1f1;
}
.nav-menu1 li {
    display: inline;
    margin: 0 10px;
}
.nav-menu1 a {
    color: #f1f1f1;
    text-decoration: none;
}
.nav-menu1 a:visited {
    color: #f1f1f1;
    text-decoration: none;
}
.nav-menu1 a:hover {
    color: #ffa500;
}
.header-nav1 p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.sign-in {
    font-family: "Bebas Neue" sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #f1f1f1;
    background-color: #202020;
    border: none;
    width: 39px;
    height: 24px;
    left: 20px;
    cursor: pointer;
}
.header-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    top: 48px;
    background-color: #f8f9fa;
}
.logo {
    width: 154px;
    height: 36px;
    top: 24px;
    left: 302px;
}
.nav-menu2 li {
    display: inline;
    margin: 0 10px;
}
.nav-menu2 a {
    color: #000;
    text-decoration: none;
}
.nav-menu2 a:visited {
    color: #000;
    text-decoration: none;
}
.nav-menu2 a:hover {
    color: #ffa500;
}
.header-icons div {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.header-icons div:hover {
    color: #ffa500;
}

.shopping-cart-title {
    width: 338px;
    height: 64px;
    top: 200px;
    left: 300px;
    line-height: 64px;
}
h1 {
    font-weight: 400;
    font-size: 72px;
}
.cart-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-left: 150px;
    margin-right: 250px;
}
.product-table {
    width: 70%;
    border-collapse: collapse;
}
.product-table th, .product-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.product-details {
    display: flex;
    align-items: center;
    width: 600px;
}
.product-image {
    margin-right: 15px;
}
.product-info {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.color {
    font-size: 14px;
    font-weight: bold;
}
.color-info {
    font-size: 14px;
    font-weight: normal;
    color: #b3b3b3;
}
.quantity {
    border: 2px solid #b3b3b3;
    width: 40px;
    height: 40px;
    text-align: center;
}

.sidebar {
    width: 20%;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #ddd;
}
.sidebar hr {
    border: 1px solid #f1f1f1;
}
.estimate-shipping {
    margin-top: 20px;
}
.shipping-details {
    display: none;
    margin-top: 10px;
}
select {
    font-family: "Bebas Neue", sans-serif;
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f1f1f1;
}
#state-province {
    font-family: "Bebas Neue", sans-serif;    
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f1f1f1;
}
#postcode {
    font-family: "Bebas Neue", sans-serif;    
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f1f1f1;
}
#toggle-shipping {
    border: none;
    background: none;
    padding: 15px;
}
#toggle-shipping:hover {
    cursor: pointer;
    color: #ffa500;
}
.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.checkout-btn {
    border: none;
    background-color: green;
    padding: 10px 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f1f1f1;
    width: 246px;
    height: 56px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.checkout-btn:hover {
    background-color: #ffa500;
}
.checkout-multiple a {
    color: #000;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.checkout-multiple a:hover {
    color: #ffa500;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 40rem 3rem 10rem;
}
.discount-code {
    display: flex;
    align-items: center;
}
.code-input {
    border: 4px solid #424242;
    width: 200px;
    height: 50px;
    font-size: 16px;
}
.apply-btn {
    border: 4px solid #424242;
    background-color: #f1f1f1;
    color: #202020;
    padding: 5px;
    width: 150px;
    height: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.apply-btn:hover {
    cursor: pointer;
    background-color: #ffa500;
}
.update-cart-btn {
    width: 300px;
    height: 50px;
    border: none;
    padding: 5px 10px;
    background-color: #202020;
    color: #f1f1f1;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.update-cart-btn:hover {
    cursor: pointer;
    background-color: #ffa500;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #202020;
    color: #f1f1f1;
}
footer nav ul {
    list-style: none;
    padding: 0;
}
footer nav ul li {
    display: inline;
    margin: 0 10px;
}
footer nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
}
footer nav ul li a:hover {
    color: #ffa500;
}
.customer-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 750px;
    margin-right: 750px;
    color: #f1f1f1;
}
.customer-service a {
    text-decoration: none;
    color: #f1f1f1;
}
.customer-service a:hover {
    color: #ffa500;
}

@media (max-width: 768px) {
    .cart-content {
        flex-direction: column;
    }
}