body {
    color: #2f2f2f;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-nav1 {
    height: 48px;
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
}
.customer-service {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-left: 300px;
    gap: 12px;
}
.customer-service a {
    text-decoration: none;
    color: #f5f5f5;
}
.customer-service a:hover {
    text-decoration: none;
    color: #ffa500;
}
.menu {
    margin-left: 12px;
}
.menu ul {
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.menu ul li {
    display: inline;
}
.menu a {
    text-decoration: none;
    color: #f5f5f5;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 13px;
}
.menu a:hover {
    color: #ffa500;
}
.message {
    flex-grow: 1;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #f5f5f5;
    white-space: nowrap;
}
.sign-in {
    margin-right: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}
.sign-in img {
    width: 16px;
    height: 16px;
}
.sign-in a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #f5f5f5;
}
.sign-in a:hover {
    color: #ffa500;
}

.header-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #f5f5f5;
}
.logo {
    width: 154px;
    height: 36px;
}
.nav-menu2 li {
    display: inline;
    margin: 0 10px;
}
.nav-menu2 a {
    color: #2f2f2f;
    text-decoration: none;
}
.nav-menu2 a:visited {
    color: #2f2f2f;
    text-decoration: none;
}
.nav-menu2 a:hover {
    color: #ffa500;
}
.header-icons div {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.header-icons div:hover {
    color: #ffa500;
}

.shopping-cart-title {
    width: 338px;
    height: 64px;
    line-height: 64px;
}
h1 {
    font-weight: 400;
    font-size: 72px;
}
.cart-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-left: 150px;
    margin-right: 250px;
}
.product-table {
    width: 70%;
    border-collapse: collapse;
}
.product-table th, .product-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.product-details {
    display: flex;
    align-items: center;
    width: 600px;
}
.product-image {
    width: 283px; 
    height: 200px;
    margin-right: 15px;
}
.product-info {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.color {
    font-size: 14px;
    font-weight: bold;
}
.color-info {
    font-size: 14px;
    font-weight: normal;
    color: #b3b3b3;
}
.quantity {
    border: 2px solid #b3b3b3;
    width: 40px;
    height: 40px;
    text-align: center;
}

.sidebar {
    width: 294px;
    background-color: #f5f5f5;
}
.sidebar hr {
    border: 1px solid #ffffff;
    width: 294px;
}
.estimate-shipping {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2f2f2f;
    margin-left: 24px;
    margin-right: 24px;
}
.shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plus-icon {
    width: 16px;
    height: 16px;
}
.shipping-details {
    display: none;
    margin-top: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
select {
    font-family: "Titillium Web", sans-serif;
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f5f5f5;
}
#state-province {
    font-family: "Titillium Web", sans-serif;    
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f5f5f5;
}
#postcode {
    font-family: "Titillium Web", sans-serif;    
    width: 100%;
    border: 2px solid #b3b3b3;
    background-color: #f5f5f5;
}
#toggle-shipping {
    border: none;
    background: none;
    padding: 15px;
}
#toggle-shipping:hover {
    cursor: pointer;
    color: #ffa500;
}
.total {
    width: 294px;
    min-height: 283px;
}
#total-price, #shipping-cost, #grand-total {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.checkout-btn {
    border: none;
    background-color: #008421;
    padding: 10px 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f5f5f5;
    width: 246px;
    height: 56px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.checkout-btn:hover {
    background-color: #ffa500;
}
.checkout-multiple a {
    color: #2f2f2f;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.checkout-multiple a:hover {
    color: #ffa500;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 40rem 3rem 10rem;
}
.discount-code {
    display: inline-flex;
    align-items: center;
    width: 294px;
    height: 48px;
    border: 2px solid #424242;
}
.code-input {
    display: inline-flex;
    border: 2px solid #424242;
    width: 211px;
    height: 48px;
    font-size: 16px;
    color: #828282;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.apply-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f2f2f;
    background-color: #f5f5f5;
    color: #2f2f2f;
    width: 83px;
    height: 48px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.apply-btn:hover {
    cursor: pointer;
    background-color: #ffa500;
}
.update-cart-btn {
    width: 294px;
    height: 48px;
    border: none;
    padding: 5px 10px;
    background-color: #2f2f2f;
    color: #f5f5f5;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.update-cart-btn:hover {
    cursor: pointer;
    background-color: #ffa500;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2f2f2f;
    color: #f5f5f5;
}
footer nav ul {
    list-style: none;
    padding: 0;
}
footer nav ul li {
    display: inline;
    margin: 0 10px;
}
footer nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 700;
}
footer nav ul li a:hover {
    color: #ffa500;
}
.customer-service2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 750px;
    margin-right: 750px;
    color: #f5f5f5;
}
.customer-service2 a {
    text-decoration: none;
    color: #f5f5f5;
}
.customer-service2 a:hover {
    color: #ffa500;
}

@media (max-width: 768px) {
    .cart-content {
        flex-direction: column;
    }
}